body{
  background: #404040; /* dark mode for development */
  margin-top: 90px;
  font-size: 20px;
  color: #909090;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: inline-block;
  background: #202020;
  width:100%;
}

h1 {
  font-size: 30px;
  color: #B0B0B0;
  margin-left: 20px;
}

.account {
  color: #CCCCCC;
  float: right;
  margin-right: 30px;
}

.addUPC {
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
